<h1>Tasks</h1>

<h2>To Do:</h2>
<ul>
    {% for task in incomplete_tasks %}
        <li><a href="{% url 'task' task.id %}">{{ task.description }}</a></li>
    {% endfor %}
</ul>
<h2>Completed:</h2>
{% for task in complete_tasks %}
<li><a href="{% url 'task' task.id %}">{{ task.description }}</a></li>
{% endfor %}
 

<form action="{% url 'todo_list' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="create" value="Create" />
</form>

<a href="{% url 'notes' %}">Notes Page</a> 